* {
  font-family: DejaVu Sans Mono, monospace;
}

.container {
  margin: 0;
  padding: 0;
}

.navbar {
  border-radius: 0px;
  background-color: lightslategray;
}
.collapse {
  font-family: DejaVu Sans Mono, monospace;
}

.navbar-brand {
  font-size: 35px;
  color: rgb(0, 0, 0);
  padding-left: 25px;
}

.nav {
  margin: 0;
  padding: 0;
}

.navbar-nav {
  font-size: 25px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.navbar-toggle {
  border: 2px solid black;
  margin-right: 25px;
}

.icon-bar {
  background-color: white;
}

.main-title {
  margin-bottom: 15px;
  text-align: center;
  color: #000000;
  font-size: 50px;
  font-family: DejaVu Sans Mono, monospace;
}

li {
  box-sizing: border-box;
  width: 100%;
}

.menu-item {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid black;
  color: black;
  display: block;
}

.menu-item:hover {
  background-color: rgba(0, 0, 0, 0.9);
  color: rgba(0, 0, 0, 0.4);
}

.row {
  margin: 20px;
}

.content-box {
  margin: 20px;
  width: auto;
  height: 3000px;
  color: black;
  background-color: lightslategray;
  font-family: DejaVu Sans Mono, monospace;
  padding: 20px;
}

.item-name {
  text-align: center;
  font-size: 20px;
}
